*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*
div#sobre-nos{
    background-image: url(media/patron1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

div#productos{
    background-image: url(media/patron2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#pedidos{
    background-image: url(media/patron3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
*/

.circular--square{
    border-radius: 50%;
}

header{
    background:linear-gradient(to bottom,rgba(0,0,0,.0001), rgba(0,0,0,.1) , rgba(0,0,0,1)), 
    linear-gradient(to top,rgba(0,0,0,.9), rgba(0,0,0,.1) , rgba(0,0,0,.9))
    ,url(media/fondo-piedras.jpg);
    padding-top: 1px;
    border-bottom: 5px solid black;
   /*background:linear-gradient url(media/fondo-piedras.jpg), (rgba(0,0,0,.2), rgba(0,0,0,.9)), ;*/
}

body{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background:linear-gradient(to top, rgba(0,0,0,.2),rgba(0,0,0,1) ,rgba(0,0,0,.85)),
    linear-gradient(to bottom, rgba(0,0,0,.1),rgba(0,0,0,.3),rgba(0,0,0,.3), rgba(0,0,0,1)), url(media/fondo-ondas.jpg);
    /*background-image: url(media/fondo-ondas.jpg);*/ 
    
}

p.copy{
    color:rgba(140, 140, 140, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 0px;

}

div#main{
    padding-bottom:30px;
    margin:30px 35px 30px 35px;
    justify-content: center;
    background-color: rgba(255,255,255,.3);
    backdrop-filter: blur(5px);
    border:1px  solid rgba(255,255,255,05);
    border-radius:15px;
}



img{
    background-image: radial-gradient(red 10%, yellow 25%, rgba(255,255,255,.2) 60% , rgba(0,0,0,.03) 70%);
    text-align: center;
    padding-top:25px;
    max-height: 800px;
    margin: 0 auto;
    display:block;
}

h1{
    text-shadow: 2px 2px 10px white;
    font-family: 'Roboto Slab', serif;
    color:black;
    text-align: center;
    font-size: 30px;
    margin:20px;
    margin-top: 0px;
}

nav.indice ul{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    list-style-type: none;
    font-size: 50px
}

nav.indice a{
    color: white;
    text-shadow: 4px 4px 10px black ;
}

a{
    text-decoration: none;
    color:white; 
}

nav.indice ul li {
    font-size: 85px;
    padding-top:25px;
    padding-bottom: 20px;
}

div.logos{
    font-size: 150px;
    text-align: center;
    padding-top:50px;
    margin:0;
}

div.logos a{
    padding-bottom: 0px;
}

div.container{
    padding-top: 50px;
    padding-bottom: 70px;
    line-height:55px;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid black;
    border-radius: 25px;
    margin:30px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}

body p{
    line-height: 79px;
    font-family: 'Roboto Slab', serif;
    padding: 30px 100px;
}
h2{
    padding-bottom: 20px;
    font-family:'Dancing Script';
    font-size: 100px;
}

div.titulo{
    margin:0;
    padding-top: 20px;
    background-color: rgba(12, 12, 184,.5);
}

button{
    color:black;
    text-shadow: 2px 2px 2px;
    font-family: 'Roboto Slab', serif; ;
    font-size: 70px;
    padding: 15px 50px;
    margin-top:20px;
    background-color: rgba(12, 12, 184,.5);
    border: 5px black solid;
    border-radius: 30px;
    box-shadow:3px 3px 5px white;
}

footer{
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,1));
    margin:0;
    height: 330px;

}

footer div p{
    padding:0;
    margin:0;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

footer div.home{
    padding-top:10px;
    font-size: 130px;
    text-align: center;
}

div.home a{
    color:white;
}





