*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
}

h1{
    display: flex;
    font-family: 'Varela Round',sans-serif;
    font-size: .6em;
    text-align: center;
    margin-bottom:5px;
    color:black;
    font-weight: bolder;
    text-shadow: 0 0 5px white;
}

h2{
    font-family: 'Varela Round',sans-serif;
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 10px;
    color: black;
    text-shadow: 0 0 5px rgba(230,230,230,.9);
}

.texto{
 font-size: .8em;
 font-weight: bold;
 padding: 0px 15px;               
}

button{
    background-color: rgba(220,220,220,.9);;
    font-weight: bold;
    padding: 15px 30px;
    font-family: 'Varela Round', sans-serif;
    border: 1px solid black;
}

div.button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}

a.productos{
    line-height: normal;
}

a.logo{
    height: 70px;
    text-decoration: none;
    font-size: 2.8em;
    padding: 0 15px;
}

.llave{
    display: none;
}

.copy{
    font-size: xx-small;
    text-align: center;
}


.container{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

    .header{
        background-color:rgba(112, 151, 229, 1);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 100vh;
        justify-content: space-around;
    }

        .logo-img{
            display: flex;
            background-position: 0px -10px;
            background-image: url(./media/LogoT2.png);
            filter: drop-shadow(0 0 5px rgba(230, 230, 230, .6));
            background-repeat: no-repeat;
            background-size: 270px 270px; /*290x290*/
            height: 242px; /*270*/
            width: 270px;
        }

        .nav{
            display: flex;
            flex-flow: column;
            justify-content: center;
        }   

            nav ul{
                display: flex;
                flex-flow: column;   
                height: 40%;
            }

                ul li {
                    list-style: none;
                    text-align: center;
                    background-color: #a8eec7;
                    border: 1px solid black;
                    box-shadow: 0 0 10px rgba(40, 40, 40, .5);
                    border-radius: 15px;
                    margin-bottom:6px;
                }
            
                ul li a{
                    text-decoration: none;
                    font-family: 'Dancing Script', sans-serif;
                    font-size: 1.5em;
                    line-height: 2em;
                    color: black;
                    padding: 0px 10px;
                }

        .logos{
            display: none;
        }

    .sections{
        background-color: rgba(112, 151, 229, 1);
       
    }

        .caja{
            display: flex;
            flex-flow: column nowrap;
            background-color: #a8eec7;  /*violetita #d5bdf2*/
            margin:15px;
            height: 90vh;
            justify-content: space-between;
            box-shadow: 0 0 10px rgba(40, 40, 40, .5);
            border-radius: 5px;
        }


    .footer{
        box-shadow: 0 0 10px rgba(40, 40, 40, .5);
        display: flex;
        background-color: #a8eec7;
        height: 28vh;
        flex-flow: row;
    }
        
        .logos-footer{
            display: flex;
            flex-flow: row;
            align-items: center;
            padding-left: 10px;
        }

            .logos-footer a ion-icon{
                font-size: 3em;
                color:black;
            }
        
        div.creditos-home{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: end;
            padding:10px 10px;
        }    

        div.home{
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        div.home a ion-icon{
            font-size: 2.7em;
            color:black;
        }
      
@media screen and (min-width: 340px) and (min-height:590px){

        .header{
            justify-content: space-between;
        }

        .logos{
            display: flex;
            flex-grow:.1;
            align-items: center;
        }

            .logos a ion-icon{
                color: black;
            }

        ul li a{
            font-size: 1.8em ;
        }

        .footer{
            justify-content: center;
            height: 20vh;
        }

        div.logos-footer{
            display: none;
        }

        div.creditos-home{
            justify-content: space-between;
        }
    }