*{
    font-family: 'Dancing Script', cursive;
}

body{
    margin:0;
    padding:0;
}

img.logo{
    padding-top: 15px;
    display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}


header{

    background-color: #eee;
    margin: 5px;
}

header h1{
    text-align: center;
    margin:0 auto;
}

div h1{
    font-size:small;
}

h1.logo{
    font-size: 70px;
}

header div{
  }

header ul{
list-style-type: none;
padding:0;
}

header ul a {
    text-decoration: none;
    color:black;
}

div.container{
    justify-content: center;
}
div#redes.logo ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

div#redes.logo ul a {
    padding: 15px;
    color: black;
}

header ul li{
    text-align: center;
    position: relative;
}

h2{
    text-align: center;
}

div#button{
    position: relative;
    display: relative;
    background-color: red;
    margin :0 auto;
    justify-content: center;
}
button{
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}