@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

:root{
    --color-logo: #c2ffe6;
    --color-acento: #ffc8c2;
    --color-fondo: #f3f1f1;     
    --color-pastel:#ffe6c2;             /*rgb(252, 252, 252);*/
    --color-pastel-lucid:#ffe6c29b ;
    --color-violeta-osc: rgb(101.572, 86.092, 195.804);
    --color-celeste: #c2ffe6;
    --dancing: 'Dancing Script', sans-serif;
    --varela: 'Varela Round', sans-serif;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-acento);
}

.container__hero{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.hero{
    background-color: var(--color-logo);
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
}

img.hero__img{
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    max-height: 300px;
    max-width: 300px;
    filter: drop-shadow(0 0 5px var(--color-pastel));
}

.hero__imgcont{
    background-color: var(--color-acento);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.hero__title{
        position: relative;
        top: -7px;
        font-family: var(--varela);
        font-size: .6em;
        text-align: center;
    }

    .hero__menu{
        display: flex;
        margin: auto;
        justify-content: center;
       height: 40vh;
  
    }
    
    .hero__links{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        text-align: center;
        list-style: none;
    }

    .hero__link {
        display: block;
        padding:10px 5px;
        font-family: var(--dancing);
        font-size: 1.4em;
        text-decoration: none;
        margin: 0 auto;
        font-weight: 700;
        color:black;
        border-radius: 30px;
        text-shadow: 3px 3px 3px var(--color-pastel);
    }
    
    .hero__logos{
        display: flex;
        margin: 0 15px;
        justify-content: space-between;
        max-height: 60px;
        border-top: 1px solid black;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    
    .hero__logolink{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--color-pastel);
        text-decoration: none;
        background-color: var(--color-acento);
        box-shadow: 0 0 5px var(--color-pastel);
        height: 60px;
        width: 60px;

    }
    
    .logo{
        height: 40px;
        width: 40px;
    }

    .section__top-wave{
        height: 90px;
        background-image: url(./media/wave-top-sections.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -25px;
    }


.section{
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px var(--colosr-logo);
    margin:0px 20px 60px;
    background-color: var(--color-logo);
}

.container__sections{
    background-image: url(./media/wave--footer.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 40px;
}

h2.section__title{
    font-family: var(--varela);
    font-size: 1.5em;
    padding: 10px 10px 0px 10px;
}

.section__paragraph{
    font-family: var(--varela);
    font-size: .7em;
    padding: 10px 10px;
}


.button{
    padding: 15px 40px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.footer{
    display: absolute;
    bottom:0;
    height: 110px;
    background-color: var(--color-violeta-osc);
}

    .footer__home{
        height: 70px;
    }

    .footer__logo{
        width: 50px;
        height: 60px;
        display: block;
        margin:0 auto;
    }

    .footer__text{
        position: relative;
        display: block;
        margin-left: auto;
        width: 100%;
        height: auto;
        text-align: right;
    }
    .footer_paragraph{
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 10px 0px;
        font-family: var(--varela);
        font-size: .6em;
    
    }
