*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*
div#sobre-nos{
    background-image: url(media/patron1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

div#productos{
    background-image: url(media/patron2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div#pedidos{
    background-image: url(media/patron3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
*/

.circular--square{
    border-radius: 50%;
}

header{
    background-image:linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)),
     url(media/FondoLineas.jpg);
    background-position: top right;
    padding-top: 1px;
   /*background:linear-gradient url(media/fondo-piedras.jpg), (rgba(0,0,0,.2), rgba(0,0,0,.9)), ;*/
}

body{
    background-position: top center;
    background-image:url(media/fondopastel.png);
    /*background-image: url(media/fondo-ondas.jpg);*/ 
    
}

p.copy{
    color:rgba(194,255,230,.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 0px;

}

div#main{
    padding-bottom:100px;
    margin:30px 35px 30px 35px;
    justify-content: center;
    background-color: rgba(255,255,255,.3);
    backdrop-filter: blur(5px);
    border:1px  solid rgba(255,255,255,05);
    border-radius:15px;
}



img{
    text-align: center;
    padding-top:25px;
    max-height: 800px;
    margin: 0 auto;
    display:block;
}

h1{
    text-shadow: 2px 2px 10px white;
    font-family: 'Varela Round', sans-serif;
    color:black;
    text-align: center;
    font-size: 30px;
    margin:20px;
    margin-top: 0px;
}

nav.indice ul{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    list-style-type: none;
    font-size: 50px
}

nav.indice a{
    color: white;
    text-shadow: 4px 4px 9px black ;
}

a{
    text-decoration: none;
    color:white; 
}

nav.indice ul li {
    font-size: 85px;
    padding-top:25px;
    padding-bottom: 20px;
}

div.logos{
    font-size: 150px;
    text-align: center;
    padding-top:43px;
    margin:0;
}

div.logos a{
    padding-bottom: 0px;
}

.llave{
    color:rgba(255, 255, 255, .2);
}

div.container{
    padding-top: 50px;
    padding-bottom: 70px;
    line-height:55px;
    background-color: rgba(126, 141, 235, 0.3);
    border:1px solid rgba(246, 212, 174, .8);
    border-radius: 20px;
    margin:30px;
    margin-bottom: 100px;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(194,255,230,1);
}

body p{
    line-height: 65px;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    padding: 40px 100px;
}
h2{
    padding-top:10px;
    padding-bottom: 35px;
    font-family:'Dancing Script';
    font-size: 100px;
    text-shadow: 3px 3px 15px white;
}

div.titulo{
    margin:0;
    padding-top: 20px;
    background-color: rgba(194,255,230,.3);
}

button{
    border:none;
    color:black;
    text-shadow: 2px 2px 2px;
    font-family: 'Varela Round', sans-serif;
    font-size: 70px;
    padding: 15px 50px;
    margin-top:20px;
    background-color: rgba(194,255,230,.3);
    text-shadow: 3px 3px 15px white;
    
}

footer{
    padding-top:35px;
    background-color:rgba(152, 105, 254, 0.883); 
    margin:0;
    height: 330px;

}



footer div p{
    padding:0;
    margin:0;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

footer div.home{
    padding-top:5px;
    font-size: 130px;
    text-align: center;
}

div.home a{
    margin-top: 135px;
    color:rgba(194,255,230,1);
}

span{
    color:rgba(194,255,230,.2);
}

span.upper1{
   padding-right: 100px;
}
span.upper2{
    padding-left: 100px;
 }
 



